@mixin columns($numCol, $width) {
    -webkit-columns: $numCol $width;
    -moz-columns: $numCol $width;
    -ms-columns: $numCol $width;
    columns: $numCol $width;
}

@mixin transition($property, $duration...) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -ms-transition: $property $duration;
    transition: $property $duration;
}

@mixin transform($function) {
    -webkit-transform: $function;
    -moz-transform: $function;
    -ms-transform: $function;
    transform: $function;
}

@import 'partials/_foot.scss';
@import 'partials/_head.scss';
@import 'partials/_frame.scss';

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/*it makes sure that the container's children floats are cleared*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	font-family: 'Raleway', Calibri, Arial, sans-serif;

	a {
		color: brown;
	}
}

.centered-links {
  text-align:center;
}

.button  {
	color: #333;
	display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 110%;
    border: 2px solid transparent;
}

.button:hover {
	border-color: #383a3c;
	color: inherit;
	border-color: initial;
}

.page {
	margin: 8em 16em;
	p {
    	margin-bottom: 2.1em;
    	margin-top: 0.5em;
	}
	h4 {
	    margin: 0px;
	}
}

.title {
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	font-weight: 400;
  margin-bottom: 1.4em;
}

.subtitle {
  font-size: 0.4em;
  font-style: italic;
}

#events{
  #blocker{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    z-index: 10;
    width: 100%;
    background-color: #E5ECF9;
  }
}

/* for document-like bodies (ie mission statmenent and constitution) */
.statement {
  line-height: 1.8em;
  
  .section-heading {
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: underline;
  }
}

#guide {
	h4 {
		margin-bottom: 1em;
	}
	#guide-list {
		@include columns(2, 5em);
		#current-guide {
			margin-bottom: 7em;
		}
	}
}

#members{
	h4 {
		margin-bottom: 15px;
	}
	.left {
		float:left;
		width: 8em;
	}
	.right{
		float:none;
	}
	
}
/* I think we should just make screen resizing illegal */
@media screen and (max-width: 766px) {
	.page {
		margin: 8em 2.5em;
	}
	#members {
		img {
			 display: block;
		    margin-left: auto;
		    margin-right: auto;
		}
		h4{
			text-align: center;
		}
		.left {
			float: none;
			width: 100%;
		}
		.container{
			height:100%;
		}
	}
}

@media screen and (max-width: 1100px) and (min-width: 767px){
  .page {
    margin: 8em;
  }
}
