footer {
  bottom: 0;
  font-weight: 400;
  padding: 7em 10em;
  color: whitesmoke;
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 80px;
  font-size: 1em;
  line-height: 1.25; }
  footer a {
    color: whitesmoke !important; }
  footer .title {
    font-size: 2em;
    line-height: 1.8em;
    max-width: 15em;
    margin-bottom: 0.8em;
    display: flex; }
  footer .footer-links {
    line-height: 1.8;
    font-weight: 100;
    font-size: 12px; }
  footer .footer-right {
    float: right;
    padding-right: 10%; }
    footer .footer-right .quick-links {
      font-weight: 600;
      font-size: 18px;
      line-height: 3em;
      text-transform: uppercase; }
  footer .footer-left a {
    margin-right: 1.9em;
    display: inline-block;
    font-size: 40px; }

a {
  color: inherit;
  text-decoration: none; }

.copyright {
  text-align: center;
  background-color: brown;
  color: whitesmoke;
  line-height: 2.5em; }
  .copyright a {
    color: whitesmoke; }

/* mobile devices */
@media screen and (max-width: 750px) {
  .title {
    max-width: 9em; }

  footer {
    text-align: center;
    padding: 7em 5em; }
    footer .footer-left a {
      margin-left: 1em;
      margin-right: 1em; }
    footer .footer-right {
      float: none;
      margin: 0 auto 20px;
      padding: 0; } }
.home-nav .mobile-toggle span {
  background: whitesmoke; }
.home-nav nav ul li {
  color: whitesmoke; }

header {
  position: fixed;
  height: 5em;
  top: 0px;
  z-index: 999;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent;
  /* menu bar*/
  /*responsive*/ }
  header .row {
    position: relative;
    padding: 0 3em; }
  header nav {
    float: right; }
    header nav ul {
      list-style: none;
      overflow: hidden;
      text-align: right;
      float: right;
      line-height: 3em; }
      header nav ul li {
        display: inline-block;
        margin-left: 35px;
        color: black;
        cursor: pointer; }
      header nav ul .active {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 18px; }
  @media screen and (max-width: 750px) {
    header {
      padding-top: 25px; }
      header .mobile-toggle {
        display: block; }
      header nav {
        width: 100%; }
        header nav ul {
          margin-top: 2em;
          text-align: center;
          width: 100%;
          padding: 0px; }
          header nav ul li {
            width: 100%;
            padding: 7px 0;
            margin: 0; } }

/* scroll effect */
.sticky {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid gainsboro; }
  .sticky .mobile-toggle span {
    background: grey; }
  .sticky nav ul li {
    color: black; }

/* mobile */
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  width: 30px;
  -webkit-transition: all 0.2s, ease-in;
  -moz-transition: all 0.2s, ease-in;
  -ms-transition: all 0.2s, ease-in;
  transition: all 0.2s, ease-in; }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: grey;
    display: block; }

/* only for mobile */
.open-nav {
  height: 30em;
  background-color: rgba(255, 255, 255, 0.8); }
  .open-nav .mobile-toggle {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .open-nav .mobile-toggle span {
      background: grey; }
  .open-nav nav ul li {
    color: black; }

/* used for responsive (and responsible) embedded content (iframes) */
/* 16x9 Aspect Ratio */
.aspect-ratio-16x9 {
  padding-bottom: 56.25%; }

/* 4x3 Aspect Ratio */
.aspect-ratio-4x3 {
  padding-bottom: 75%; }

.frame-wrapper {
  position: relative;
  height: 0;
  overflow: hidden; }
  .frame-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg"); }
/*it makes sure that the container's children floats are cleared*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

body {
  background: #fff;
  color: #383a3c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Raleway', Calibri, Arial, sans-serif; }
  body a {
    color: brown; }

.centered-links {
  text-align: center; }

.button {
  color: #333;
  display: inline-block;
  margin: 0.35em 0.1em;
  padding: 0.5em 1.2em;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2px;
  font-size: 110%;
  border: 2px solid transparent; }

.button:hover {
  border-color: #383a3c;
  color: inherit;
  border-color: initial; }

.page {
  margin: 8em 16em; }
  .page p {
    margin-bottom: 2.1em;
    margin-top: 0.5em; }
  .page h4 {
    margin: 0px; }

.title {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
  margin-bottom: 1.4em; }

.subtitle {
  font-size: 0.4em;
  font-style: italic; }

#events #blocker {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  z-index: 10;
  width: 100%;
  background-color: #E5ECF9; }

/* for document-like bodies (ie mission statmenent and constitution) */
.statement {
  line-height: 1.8em; }
  .statement .section-heading {
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center; }

#guide h4 {
  margin-bottom: 1em; }
#guide #guide-list {
  -webkit-columns: 2 5em;
  -moz-columns: 2 5em;
  -ms-columns: 2 5em;
  columns: 2 5em; }
  #guide #guide-list #current-guide {
    margin-bottom: 7em; }

#members h4 {
  margin-bottom: 15px; }
#members .left {
  float: left;
  width: 8em; }
#members .right {
  float: none; }

/* I think we should just make screen resizing illegal */
@media screen and (max-width: 766px) {
  .page {
    margin: 8em 2.5em; }

  #members img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #members h4 {
    text-align: center; }
  #members .left {
    float: none;
    width: 100%; }
  #members .container {
    height: 100%; } }
@media screen and (max-width: 1100px) and (min-width: 767px) {
  .page {
    margin: 8em; } }

/*# sourceMappingURL=index.css.map */
