<h3>Who we are</h3>
<p><The Society of Engineering Sciences is the professional and social club of the Engineering Science department at University of California - Berkeley.</p>
<p>Any questions, comments, or feedback? Want to join? Email us at <a href='mailto:berkeleyses@gmail.com'>berkeleyses@gmail.com</a><p>

<h3>Mission Statement</h3>
<p>The Society of Engineering Sciences is dedicated to enhancing the lives of students within the Engineering Science department at University of California - Berkeley. The Society provides a node for Engineering Science majors to meet, interact with professors and faculty advisors, find research opportunities, and explore common goals. We support the diverse interests and needs related to the interdiscipline of Engineering Science and its scholars.</p>

<h3>Hey! I want to learn more!</h3>

<p>Awesome! <a target="_blank" href='https://calmail.berkeley.edu/manage/list/listinfo/ses_members@lists.berkeley.edu'>Hop on our mailing list</a> or send us an email at <a href='mailto:berkeleyses@gmail.com'>berkeleyses@gmail.com</a>. Or, come to one of our <a target="_blank" href='#/Events'>events!</a></p>

<h3>Club constitution: <a target="_blank" href='constitution/constitution.txt'>text</a>, <a target="_blank" href='constitution/constitution.pdf'>pdf</a></h3>