<div id='constitution' class='page'>  
	<h3 class='title'>
		Club Constitution<br>
		<div class='subtitle'>Last Update: August 26, 2015</div>
	</h3>
	<div class='statement'>
		<div class='section-heading'>Article I</div>
		The Society shall be known as The Society of Engineering Sciences. The Society is also to be known as SES.<br><br><br>

		<div class='section-heading'>Article II</div>
		The Purpose of this Society is to enhance the lives of students within the Engineering Science department at University of California - Berkeley. The Society provides a node for Engineering Science majors to meet, interact with professors and faculty advisors, find research opportunities, and explore common goals. The Society supports the diverse interests and needs related to the interdiscipline of Engineering Science and its scholars.<br><br><br>

		<div class='section-heading'>Article III</div>
		Any individual may become a member by emailing berkeleyses@gmail.com or attending the Society’s meetings.<br><br>

		Only currently registered students, faculty, and staff may be active members in a registered student organization. Only active members may vote or hold office. All other participants in the Society will be considered non-active members.<br><br>

		We will not haze according to California State Law. <br><br>

		We will not restrict membership based upon race, color, national origin, religion, sex, gender identity, pregnancy (including pregnancy, childbirth, and medical conditions related to pregnancy or childbirth), physical or mental disability, medical condition (cancer related or genetic characteristics), ancestry, marital status, age, sexual orientation, citizenship, or service in the uniformed services (including membership, application for membership, performance of service, application for service, or obligation for service in the uniformed services).<br><br><br>

		<div class='section-heading'>Article IV</div>
		The Society shall hold an officer election each April and each November. The officers comprise the executive committee. Officer positions must include President, Vice President, Outreach Chair, and Treasurer. Additional officer positions will be determined at least one week before elections. Each officer will be decided by a simple majority vote. Terms take place between officer elections. All officers must be re-elected each term. Officers may resign at any point during the term.<br><br>

		The President controls all aspects of the organization and will serve as the Society’s primary signatory. He or she will determine officer duties as best fit for the Society. The President may add but may not remove officer positions during the term. The executive committee shall appoint an active member for each added position.<br><br>

		An officer removal request may be drafted by any officer. This document shall be presented formally in writing. The situation will then be discussed in the next possible meeting. A final vote will be held immediately after discussion has ended. The officer is dismissed only if ⅔ of active members vote in favor of his or her dismissal. <br><br>

		In the event of resignation or dismissal, the remaining officers shall appoint an active member as replacement. The replacement officer will assume all duties of his or her predecessor until the next election. Replacement officers may resign and can be dismissed.<br><br><br>

		<div class='section-heading'>Article V</div>
		The Society will meet each week unless otherwise announced. The President calls the weekly meetings to order. The meeting time and place is to be determined at the beginning of each semester. <br><br>

		Additional meetings may be called by any officer. This officer is responsible for notifying all members via phone, email, or other form of communication deemed necessary.<br><br>

		Quorum is a simple majority of all active members.<br><br><br>

		<div class='section-heading'>Article VI</div>
		Amendments may be proposed by any officer. An amendment shall be proposed formally in writing. It will be then discussed in the next possible meeting. A final vote will be held at least 7 days after discussion has ended. The amendment passes only if ⅔ of active members vote in favor. All amendments, additions or deletions to this document must be filed with the LEAD Center in 102 Hearst Gym. All members of this organization shall be notified of any changes to this document through writing or other form of communication deemed necessary.<br><br><br>

		<div class='section-heading'>Article VII</div>
		A simple majority vote is required to dissolve the Society. <br><br>

		All unspent ASUC funds shall remain the property of the ASUC; all Graduate Assembly funds shall remain the property of the Graduate Assembly. After 5 or more years of inactivity, any privately obtained funds left in accounts will be donated to the ASUC carry forward account.<br><br>

		Any last funds will be donated to a research group, decided upon by a simple majority vote of the Society.
	</div>
	<br><br>
	<div class='centered-links'>
		<a class="button" href="constitution/constitution.pdf">Get the pdf</a>
		<a class="button" href="constitution/constitution.doc">Get text file</a>
	</div>
</div>
