<div id="events" class='page'>
  <div class='frame-wrapper aspect-ratio-4x3'>
    <div id="blocker"></div>
    <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=berkeleyses%40gmail.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
  <br>
  <center><a class="button" href="https://calendar.google.com/calendar/render?cid=berkeleyses%40gmail.com">Copy this calendar</a></center>
</div>
