<div id="faq" class='page'>
	<h4>Where can I find the right forms to do <em>x</em>?</h4>
	<p>
		Click <a target="_blank" href="http://engineeringscience.berkeley.edu/forms/" target="_blank">here</a> for some important ones.
	</p>

	<h4>There are so many options. Which classes should I take?</h4>
	<p>
		It depends on your curiosity. <a target="_blank" href="http://coeengsci.wpengine.com/advising/">Advisers</a> are great resources for finding the right classes for you. <a target="_blank" href="http://ses.berkeley.edu#/Members">Other students</a> are happy to share their insight on their favorite courses.
	</p>

	<h4>What does "Engineering Science" even mean?</h4>
	<p>
		This is a program within UC Berkeley's College of Engineering. There are four interdisciplinary majors: each one trains the student in both an engineering skillset for problem-solving and a scientific mindset for theory and laboratory. Each major is flexible to fit the student's academic interests across departments.
	</p>

	<h4>What do students do after graduation?</h4>
	<p>
		About 75% of students enter graduate school, mostly in physics and engineering. The rest generally enter the workforce in various jobs in science, technology, and consulting.
	</p>

	<h4>But...I have more questions!</h4>
	<p>
		<a href="mailto:berkeleyses@gmail.com">Email us!</a>
	</p>
</div>
