<div id='guide' class='page'>
<h3>What Guide?</h3>
<p><em>The Unofficial Guide to Engineering Sciences</em> is our insider guide to life in the Engineering Science department at UC Berkeley. It contains information concerning classes, majors, graduate schools, jobs, careers, campus resources, and more from students who have done it before. Learn from the mistakes and experiences of brave Engineering Science-majoring souls of old.</p>

<div id='guide-list'>
	<div id='current-guide'>
		<h4>Current Guide:</h4>
        <a href="guides/2018-2019.pdf">2018-2019</a>
	</div>
	<div id='past-guide'>
		<h4>Archive:</h4>
        <a href="guides/2017-2018.pdf">2017-2018</a><br>
        <a href="guides/2016-2017.pdf">2016-2017</a><br>
        <a href="guides/2015-2016.pdf">2015-2016</a><br>
		<a href="guides/2014-2015.pdf">2014-2015</a><br>
		<a href="guides/2013-2014.pdf">2013-2014</a><br>
		<a href="guides/2012-2013.pdf">2012-2013</a><br>
		<a href="guides/2011-2012.pdf">2011-2012</a><br>
		<a href="guides/2010-2011.pdf">2010-2011</a><br>
		<a href="guides/2009-2010.pdf">2009-2010</a>
	</div>
</div>
</div>
