<div class="home">
	<div class="content">
		<div id="large-header" class="large-header">
			<div class="overlay">
				<canvas id="demo-canvas"></canvas>
				<h1 class="main-title"><span class="thin">Society of</span> Engineering Sciences</h1>
			</div>
		</div>
		<div class="codrops-top clearfix">
			
		</div>
		<div class="codrops-header">
			<h1>Who We Are <span>The Society of Engineering Sciences is the professional and social club of the Engineering Science department at University of California - Berkeley.</span></h1>
			<nav class="codrops-demos">
				<a class="button" href="#/Constitution">Club Constitution</a>
				<a class="button" href="#/MissionStatement">Mission Statement</a>
				<a class="button" href="https://groups.google.com/a/lists.berkeley.edu/d/forum/ses_members/join" target="_blank">Join our mailing list</a>
			</nav>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="css/home.css" />
<script src="js/lib/TweenLite.min.js"></script>
<script src="js/lib/EasePack.min.js"></script>
<script src="js/lib/rAF.js"></script>
<script src="js/home.js"></script>
