<div class='page' id='members'>
	<h3 class="title">Current Leadership</h2>
	<div class='member-container'>
		<div class="clearfix container" ng-repeat='officer in officers'>
			<h4><span ng-bind='officer.position'></span>: <span ng-bind='officer.name'></span></h4>
			<div class='left'>
				<img width='100em' src='{{officer.img}}'></img>
			</div>
			<p class='right' ng-bind='officer.bio'></p>
			<br>
		</div>
	</div>
	<h3>How do I get involved?</h3>
	<a href='mailto:berkeleyses@gmail.com'>Email us</a> or <a target="_blank" href='https://calmail.berkeley.edu/manage/list/listinfo/ses_members@lists.berkeley.edu'>click here</a> to hop on our mailing list, or simply <a href="#/Events">come to one of our events!</a>
</div>