<div id='mission-statement' class='page'>
<h3 class='title'>Mission Statement</h3>
<div class='statement'>
The Society of Engineering Sciences is dedicated to enhancing the lives of students within the Engineering Science department at University of California - Berkeley. The Society provides a node for Engineering Science majors to meet, interact with professors and faculty advisors, find research opportunities, and explore common goals. We support the diverse interests and needs related to the interdiscipline of Engineering Science and its scholars.
</div>
</div>