<footer>
<!-- 	The right side is stacked on top of the left so that the left side can overlay on the right-->	
	<div class="footer-right">
		<div class="footer-links">
			<a class="links" href='http://www.berkeley.edu' target='_blank'>UC Berkeley</a> <br>
			<a class="links" href='http://engineeringscience.berkeley.edu' target='_blank'>Engineering Science</a> <br>
			<a class="links" href='http://coe.berkeley.edu' target="_blank">College of Engineering</a> <br>
			<a class="links" href='http://coe.berkeley.edu/students/current-undergraduates/advising/student-affairs-advising.html' target='_blank'>Engineering Student Services</a> <br>
			<a class="links" href='http://esc.berkeley.edu' target='_blank'>ESC</a>
		</div>
	</div>

	<div class="footer-left">
		<div class="title">Society of Engineering Sciences </div>
			<a href="mailto:berkeleyses@gmail.com"><i class="fa fa-envelope"></i></a>
			<a href="https://www.facebook.com/berkeleyses/"><i class="fa fa-facebook"></i></a>
			<a href="https://www.google.com/maps/preview/place/Bechtel+Engineering+Center,+Berkeley,+CA+94709/@37.8743327,-122.2582559,17z/data=!4m2!3m1!1s0x80857c238b14a9cb:0x7d4c501ae2c91773'>230 Bechtel Engineering Center, Berkeley, CA"><i class="fa fa-map-marker"></i></a>
	</div>
</footer>
<div class="copyright">Made with &#9825 by <a href="https://github.com/galacticmonkeys/ses">galacticmonkeys</a> &copy; 2016</div>
