<header scroll-watch ng-class="{'open-nav': mobileNavBarOpen, 'home-nav': location =='/Home' || location=='', 'sticky': scrolledFar}">
  <div class="row">
  <!-- mobile-toggle class only exists when screen is < 760px 
       we can get away with the simple mobileExists boolean without further sophistication
       because we can assume the user isn't deliberately resizing their screen -->
        <div class="mobile-toggle" ng-click="mobileNavBarOpen = !mobileNavBarOpen; mobileExists = true">
            <span></span>
            <span></span>
            <span></span>
        </div>
		<nav>
			<ul>
        <li ng-class='{active : item.toUpperCase() == location.slice(1).toUpperCase()}'
            ng-repeat='item in items' 
            ng-click='goto(item); (($parent.mobileExists) && ($parent.mobileNavBarOpen = !$parent.mobileNavBarOpen))' 
            ng-bind='item'>
				</li>
			</ul>
		</nav>
	</div>
</header>
